<?xml version="1.0" encoding="UTF-8"?>
<<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ladmin.sys.dao.SysUserListDao">
</mapper>
<!-- sql元素用于定义mybatis中的sql共性，其它元素用到了，可以实用include进行引入 -->
<sql id="queryWhereId">
	from sys_adminlist
	<where>
		<if test="username!=null and username!=''">
	username like concat("%",#{username},"%")
		</if>
	</where>
</sql>
<!-- 基于查询条件查询日志记录总数 -->
<select id="getRowCount" resultType="int">
	select count(*)
	<include refid="queryWhereId" />
</select>



</mapper>
